<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Stroy1</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Story1</h1>
        <div th:object="${mob}" >
            <div >
                <p>
                    <span th:text="*{name}"></span>
                    <span>はめぐちゃんに恋をしている</span>
                </p>

                <p>昼休み、めぐちゃんが一人でランチを食べている</p>
                <p>
                    <span th:text="*{name}"></span>
                    <span>はどうする？</span>
                </p>
            </div>
            <!-- button -->
            <div>
                <a class="btn btn-primary" th:href="@{/mobs/{id}/happy(id=*{id})}">一緒にご飯を食べる</a>
                <a class="btn btn-primary" th:href="@{/mobs/{id}/bad(id=*{id})}">遠くから眺める</a>
            </div>

        </div>

        <div class="pull-right">
            <a class="btn btn-default" href="/mobs">go to save data</a>
        </div>
    </div>

</div>
</body>
</html>